html, body {
background-color: #61dafb;
}
.App {
 margin: 0px auto;
 width: 80%;
 text-align: center;
}

.formContainer {
border: 5px solid red;

}

.form {
  display: flex;
  flex-direction:column;
}

.form label {
  margin: 10px;
}